@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 30% 19%;
    --card: 60 56% 91%;
    --card-foreground: 20 30% 19%;
    --popover: 60 56% 91%;
    --popover-foreground: 20 30% 19%;
    --primary: 20 30% 19%;
    --primary-foreground: 60 56% 95%;
    --secondary: 20 15% 35%;
    --secondary-foreground: 60 56% 95%;
    --muted: 60 30% 85%;
    --muted-foreground: 20 20% 45%;
    --accent: 122 47% 34%;
    --accent-foreground: 60 56% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 82%;
    --input: 60 20% 82%;
    --ring: 20 30% 19%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 20 10% 10%;
    --foreground: 60 56% 91%;
    --card: 20 10% 10%;
    --card-foreground: 60 56% 91%;
    --popover: 20 10% 10%;
    --popover-foreground: 60 56% 91%;
    --primary: 60 56% 95%;
    --primary-foreground: 20 30% 10%;
    --secondary: 20 10% 20%;
    --secondary-foreground: 60 56% 95%;
    --muted: 20 10% 15%;
    --muted-foreground: 60 30% 70%;
    --accent: 122 47% 40%;
    --accent-foreground: 60 56% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 20%;
    --input: 20 10% 20%;
    --ring: 122 47% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
